<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Webdriver" parallel="tests" thread-count="6">

<!--    <parameter name="environment" value="dev"/>-->
<!--    <parameter name="environment" value="stag"/>-->
<!--    <parameter name="environment" value="prod"/>-->
<!--    <parameter name="environment" value="sandbox"/>-->
<!--    optional env - sanbox-->

    <!--    Global environment-->
    <test name="Run on Chrome">
        <!--        Local environment-->
        <parameter name="browser" value="chrome"/>
        <parameter name="version" value="latest"/>
        <classes>
            <class name="javaBasic.Topic_07_SwitchCase"/>
        </classes>
    </test>
    <test name="Run on Firefox">
        <!--        Local environment-->
        <parameter name="browser" value="firefox"/>
        <parameter name="version" value="latest"/>
        <classes>
            <class name="javaBasic.Topic_07_SwitchCase"/>
        </classes>
    </test>
    <test name="Run on Edge">
        <!--        Local environment-->
        <parameter name="browser" value="edge"/>
        <parameter name="version" value="latest"/>
        <classes>
            <class name="javaBasic.Topic_07_SwitchCase"/>
        </classes>
    </test>
    <test name="Run on Safari">
        <!--        Local environment-->
        <parameter name="browser" value="safari"/>
        <parameter name="version" value="latest"/>
        <classes>
            <class name="javaBasic.Topic_07_SwitchCase"/>
        </classes>
    </test>
    <test name="Run on IE">
        <!--        Local environment-->
        <parameter name="browser" value="IE"/>
        <parameter name="version" value="latest"/>
        <classes>
            <class name="javaBasic.Topic_07_SwitchCase"/>
        </classes>
    </test>
</suite>