<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Webdriver">
    <groups>
        <run>
            <include name="category"/>
        </run>
    </groups>
    <test verbose="2"
          name="Run on Chrome">
        <packages>
            <package name="categories"/>
            <package name="orders"/>

        </packages>
    </test>
</suite>